### Reliance Digital suspect the location of shelves where television sets are kept will influence the sales revenue. 
### The data on sales revenue in lacs from the television sets when they are kept at different locations inside the store are given. The location denoted as 1: front, 2:middle, 3: rear

In [2]:
import pandas as mypd
from scipy import stats as mystats
from statsmodels.formula.api import ols
from statsmodels.stats.anova import anova_lm

In [3]:
myData=mypd.read_csv('.\datasets\Sales_Revenue_Anova.csv')

In [4]:
myData

    Location  Sales_Revenue
0          1           1.55
1          1           2.36
2          1           1.84
3          1           1.72
4          2           4.23
5          2           3.05
6          2           3.93
7          2           3.08
8          2           5.00
9          2           3.23
10         2           4.25
11         2           3.54
12         3           2.85
13         3           2.77
14         3           2.75
15         3           2.39
16         3           2.72
17         3           2.07

In [5]:
sales=myData.Sales_Revenue

In [6]:
#sales

In [7]:
location=myData.Location

In [8]:
#computing ANOVA table
mymodel=ols('sales ~ C(location)',myData).fit()

In [9]:
anova_table=anova_lm(mymodel)

C:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
C:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:879: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
C:\Anaconda3\lib\site-packages\scipy\stats\_distn_infrastructure.py:1818: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)

In [10]:
anova_table

               df     sum_sq   mean_sq          F    PR(>F)
C(location)   2.0  11.082715  5.541358  20.099493  0.000057
Residual     15.0   4.135446  0.275696        NaN       NaN

In [11]:
#conclusion is that p < 0.05 means on an average the revenue changes with location==> location matters